@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme:true) {
  @if $light-theme {
    background: lighten($color: $primary-color, $amount: 100%);
    color: darken($color: $text-color, $amount: 100%);
  }  
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}